/*font-family: 'NeueHaasUnicaPro-ThinItalic';*/
@font-face {
    font-family: 'NeueHaasUnicaPro-ThinItalic';
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-ThinItalic.eot');
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-ThinItalic.woff2') format('woff2'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-ThinItalic.woff') format('woff'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-ThinItalic.ttf') format('truetype'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-ThinItalic.svg#NeueHaasUnicaPro-ThinItalic') format('svg'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-ThinItalic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'NeueHaasUnicaPro-Medium';*/
@font-face {
    font-family: 'NeueHaasUnicaPro-Medium';
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Medium.eot');
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Medium.woff2') format('woff2'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Medium.woff') format('woff'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Medium.ttf') format('truetype'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Medium.svg#NeueHaasUnicaPro-Medium') format('svg'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Medium.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'NeueHaasUnicaPro-Thin';*/
@font-face {
    font-family: 'NeueHaasUnicaPro-Thin';
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Thin.eot');
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Thin.woff2') format('woff2'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Thin.woff') format('woff'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Thin.ttf') format('truetype'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Thin.svg#NeueHaasUnicaPro-Thin') format('svg'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Thin.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'NeueHaasUnicaPro-UltLightIt';*/
@font-face {
    font-family: 'NeueHaasUnicaPro-UltLightIt';
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-UltLightIt.eot');
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-UltLightIt.woff2') format('woff2'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-UltLightIt.woff') format('woff'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-UltLightIt.ttf') format('truetype'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-UltLightIt.svg#NeueHaasUnicaPro-UltLightIt') format('svg'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-UltLightIt.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'NeueHaasUnicaPro-UltraLight';*/
@font-face {
    font-family: 'NeueHaasUnicaPro-UltraLight';
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-UltraLight.eot');
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-UltraLight.woff2') format('woff2'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-UltraLight.woff') format('woff'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-UltraLight.ttf') format('truetype'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-UltraLight.svg#NeueHaasUnicaPro-UltraLight') format('svg'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-UltraLight.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'NeueHaasUnicaPro-XBlackIt';*/
@font-face {
    font-family: 'NeueHaasUnicaPro-XBlackIt';
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-XBlackIt.eot');
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-XBlackIt.woff2') format('woff2'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-XBlackIt.woff') format('woff'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-XBlackIt.ttf') format('truetype'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-XBlackIt.svg#NeueHaasUnicaPro-XBlackIt') format('svg'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-XBlackIt.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'NeueHaasUnicaPro-XBlack';*/
@font-face {
    font-family: 'NeueHaasUnicaPro-XBlack';
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-XBlack.eot');
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-XBlack.woff2') format('woff2'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-XBlack.woff') format('woff'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-XBlack.ttf') format('truetype'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-XBlack.svg#NeueHaasUnicaPro-XBlack') format('svg'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-XBlack.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'NeueHaasUnicaPro-Regular';*/
@font-face {
    font-family: 'NeueHaasUnicaPro-Regular';
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Regular.eot');
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Regular.woff2') format('woff2'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Regular.woff') format('woff'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Regular.ttf') format('truetype'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Regular.svg#NeueHaasUnicaPro-Regular') format('svg'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'NeueHaasUnicaPro-BlackIt';*/
@font-face {
    font-family: 'NeueHaasUnicaPro-BlackIt';
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-BlackIt.eot');
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-BlackIt.woff2') format('woff2'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-BlackIt.woff') format('woff'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-BlackIt.ttf') format('truetype'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-BlackIt.svg#NeueHaasUnicaPro-BlackIt') format('svg'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-BlackIt.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'NeueHaasUnicaPro-Black';*/
@font-face {
    font-family: 'NeueHaasUnicaPro-Black';
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Black.eot');
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Black.woff2') format('woff2'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Black.woff') format('woff'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Black.ttf') format('truetype'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Black.svg#NeueHaasUnicaPro-Black') format('svg'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Black.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'NeueHaasUnicaPro-BoldItalic';*/
@font-face {
    font-family: 'NeueHaasUnicaPro-BoldItalic';
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-BoldItalic.eot');
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-BoldItalic.woff2') format('woff2'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-BoldItalic.woff') format('woff'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-BoldItalic.ttf') format('truetype'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-BoldItalic.svg#NeueHaasUnicaPro-BoldItalic') format('svg'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-BoldItalic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'NeueHaasUnicaPro-Bold';*/
@font-face {
    font-family: 'NeueHaasUnicaPro-Bold';
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Bold.eot');
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Bold.woff2') format('woff2'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Bold.woff') format('woff'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Bold.ttf') format('truetype'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Bold.svg#NeueHaasUnicaPro-Bold') format('svg'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'NeueHaasUnicaPro-HeavyIt';*/
@font-face {
    font-family: 'NeueHaasUnicaPro-HeavyIt';
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-HeavyIt.eot');
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-HeavyIt.woff2') format('woff2'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-HeavyIt.woff') format('woff'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-HeavyIt.ttf') format('truetype'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-HeavyIt.svg#NeueHaasUnicaPro-HeavyIt') format('svg'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-HeavyIt.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'NeueHaasUnicaPro-Heavy';*/
@font-face {
    font-family: 'NeueHaasUnicaPro-Heavy';
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Heavy.eot');
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Heavy.woff2') format('woff2'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Heavy.woff') format('woff'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Heavy.ttf') format('truetype'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Heavy.svg#NeueHaasUnicaPro-Heavy') format('svg'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Heavy.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'NeueHaasUnicaPro-Italic';*/
@font-face {
    font-family: 'NeueHaasUnicaPro-Italic';
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Italic.eot');
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Italic.woff2') format('woff2'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Italic.woff') format('woff'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Italic.ttf') format('truetype'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Italic.svg#NeueHaasUnicaPro-Italic') format('svg'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Italic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'NeueHaasUnicaPro-LightIt';*/
@font-face {
    font-family: 'NeueHaasUnicaPro-LightIt';
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-LightIt.eot');
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-LightIt.woff2') format('woff2'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-LightIt.woff') format('woff'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-LightIt.ttf') format('truetype'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-LightIt.svg#NeueHaasUnicaPro-LightIt') format('svg'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-LightIt.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'NeueHaasUnicaPro-Light';*/
@font-face {
    font-family: 'NeueHaasUnicaPro-Light';
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Light.eot');
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Light.woff2') format('woff2'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Light.woff') format('woff'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Light.ttf') format('truetype'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Light.svg#NeueHaasUnicaPro-Light') format('svg'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Light.eot?#iefix') format('embedded-opentype');
    font-weight: 300;
    font-style: normal;
}

/*font-family: 'NeueHaasUnicaPro-MediumIt';*/
@font-face {
    font-family: 'NeueHaasUnicaPro-MediumIt';
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-MediumIt.eot');
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-MediumIt.woff2') format('woff2'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-MediumIt.woff') format('woff'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-MediumIt.ttf') format('truetype'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-MediumIt.svg#NeueHaasUnicaPro-MediumIt') format('svg'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-MediumIt.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'Times-Bold';*/
@font-face {
    font-family: 'Times-Bold';
    src: url('../fonts/Times/Times-Bold.eot');
    src: url('../fonts/Times/Times-Bold.woff2') format('woff2'),
    url('../fonts/Times/Times-Bold.woff') format('woff'),
    url('../fonts/Times/Times-Bold.ttf') format('truetype'),
    url('../fonts/Times/Times-Bold.svg#Times-Bold') format('svg'),
    url('../fonts/Times/Times-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'Times-BoldItalic';*/
@font-face {
    font-family: 'Times-BoldItalic';
    src: url('../fonts/Times/Times-BoldItalic.eot');
    src: url('../fonts/Times/Times-BoldItalic.woff2') format('woff2'),
    url('../fonts/Times/Times-BoldItalic.woff') format('woff'),
    url('../fonts/Times/Times-BoldItalic.ttf') format('truetype'),
    url('../fonts/Times/Times-BoldItalic.svg#Times-BoldItalic') format('svg'),
    url('../fonts/Times/Times-BoldItalic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'Times-Italic';*/
@font-face {
    font-family: 'Times-Italic';
    src: url('../fonts/Times/Times-Italic.eot');
    src: url('../fonts/Times/Times-Italic.woff2') format('woff2'),
    url('../fonts/Times/Times-Italic.woff') format('woff'),
    url('../fonts/Times/Times-Italic.ttf') format('truetype'),
    url('../fonts/Times/Times-Italic.svg#Times-Italic') format('svg'),
    url('../fonts/Times/Times-Italic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'Times-Roman';*/
@font-face {
    font-family: 'Times-Roman';
    src: url('../fonts/Times/Times-Roman.eot');
    src: url('../fonts/Times/Times-Roman.woff2') format('woff2'),
    url('../fonts/Times/Times-Roman.woff') format('woff'),
    url('../fonts/Times/Times-Roman.ttf') format('truetype'),
    url('../fonts/Times/Times-Roman.svg#Times-Roman') format('svg'),
    url('../fonts/Times/Times-Roman.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'munnrabot';  (fontello-icons)  */
@font-face {
    font-family: 'munnrabot';
    src: url('../fonts/fontello/munnrabot.eot?5904041');
    src: url('../fonts/fontello/munnrabot.eot?5904041#iefix') format('embedded-opentype'),
    url('../fonts/fontello/munnrabot.woff2?5904041') format('woff2'),
    url('../fonts/fontello/munnrabot.woff?5904041') format('woff'),
    url('../fonts/fontello/munnrabot.ttf?5904041') format('truetype'),
    url('../fonts/fontello/munnrabot.svg?5904041#munnrabot') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "munnrabot";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before { content: '\e800'; } /* '' */
.icon-play-button:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-instagram:before { content: '\e803'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}