/*@-ms-viewport {
    width: device-width;
    zoom: 1;
}*/

@media screen and (max-width: 1024px) {

    .slider-pro {
        margin: 0 0 0 265px;
    }

    .top-slides-content-elements.has-active-child .top-slide-content-element.active .top-slide-content-element-preview-block .content-block .close-button {
        margin-bottom: 40px;
    }

}

@media screen and (max-width: 1023px) {

    .description-inside-link-mobile {
        display: block;
        margin-top: 20px;
        font-family: 'Times-Roman', Times;
        font-size: 20px;
        line-height: 22px;
        color: #ffffff;
        text-decoration: none;
        cursor: pointer;
        position: relative;
        max-width: 640px;
        margin: 0 auto;
    }

    .tab-main-description-text {
        margin-top: 20px;
    }

    .top-slides-content-elements::before {
        background: linear-gradient(180deg,rgba(0,0,0,.1),rgba(0,0,0,0));
        z-index: 0;
    }

    .top-slide-content-element {
        transition: height 1s;
    }

    .wrap {
        padding: 0 10px;
    }

    main .wrap {
        padding-bottom: 10px;
    }

    /*HEADER START*/
    .mobile-btn-wrapper {
        display: inline-block;
    }

    .header-wrapper .header-navigation-items {
        position: absolute;
        top: 70px;
        background-color: #fff;
        z-index: 20;
        padding: 0 15px 30px 15px;
        height: 100vh;
        right: -300px;
        /*transition: right 1s;*/
        /*display: none;*/
        -webkit-transition: .6s;
        -o-transition: .6s;
        -moz-transition: .6s;
        transition: .6s;
    }

    .header-wrapper .header-navigation-items.active {
        right: 0;
        /*display: block;*/
    }

    .header-wrapper .header-navigation-items.fixed {
        position: fixed;
        top: 0;
        right: 10px;
        -webkit-transition: 0s;
        -o-transition: 0s;
        -moz-transition: 0s;
        transition: 0s;
    }

    .header-navigation-item {
        display: block;
        margin: 0;
        text-align: center;
        border-bottom: 1px solid #F1F1F1;
        min-width: 200px;
    }

    .header-navigation-item a {
        font-size: 20px;
        line-height: 20px;
        text-transform: capitalize;
        padding: 15px;
    }

    /*HEADER END*/
    /*TABS START*/
    .top-slides-content-elements {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding-top: 100px;
        background-color: #0B8756;
        -webkit-transition: .3s;
        -o-transition: .3s;
        -moz-transition: .3s;
        transition: .3s;
    }

    .top-slides-content-elements.has-active-child {
        background-color: #B9BBB9;
        padding-top: 0;
        transition: .7s;
    }

    .top-slides-content-elements .top-slides-content-elements-logo-preview {
        top: 15px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 116px;
        height: 60px;
    }

    .top-slide-content-element {
        display: block;
        width: 100%;
        height: 92px;
        background: transparent;
        border-top: 2px solid #CECFD0;
        border-right: none;
        border-left: none;
        border-bottom: none;
        padding: 0 10px 10px 10px;
    }

    .top-slides-content-elements.has-active-child .top-slide-content-element {
        width: 100%;
    }

    .top-slides-content-elements.has-active-child .top-slide-content-element .top-slide-content-element-preview-block .content-block,
    .top-slides-content-elements.has-active-child .top-slide-content-element {
        height: 50px;
    }

    .top-slides-content-elements.has-active-child .top-slide-content-element.active {
        width: 100%;
        height: 1050px;
        max-height: none;
        transition: height 1s;
    }

    .top-slides-content-elements.has-active-child .top-slide-content-element.active {
        transition: height 1s;
    }

    .top-slides-content-elements.has-active-child .top-slide-content-element.active .top-slide-content-element-preview-block .content-block .year {
        display: block;
        opacity: 1;
    }

    .top-slides-content-elements.has-active-child .top-slide-content-element.active .top-slide-content-element-preview-block .content-block .description-inside-link {
        display: none;
    }

    .top-slide-content-element-preview-block .content-block .description,
    .top-slides-content-elements.has-active-child .top-slide-content-element:not(.active) .preview-header,
    .top-slide-content-element-preview-block .read-more-block .read-more-block-title {
        display: none;
    }

    .top-slide-content-element-preview-block .content-block .year {
        opacity: 1;
        transition: .4s;
    }

    .top-slides-content-elements.has-active-child .top-slide-content-element-preview-block .content-block .year {
        opacity: 0;
    }

    .top-slide-content-element-preview-block .content-block .main-header {
        transition: .4s;
    }

    .top-slides-content-elements.has-active-child .top-slide-content-element:not(.active) .top-slide-content-element-preview-block .content-block .main-header {
        margin-bottom: -20px;
    }

    .top-slide-content-element-preview-block .content-block .year {
        font-size: 16px;
        line-height: 16px;
        margin-top: 10px;
    }

    .top-slide-content-element-preview-block .content-block .main-header {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 0;
    }

    .top-slide-content-element-preview-block .read-more-block .plus-icon {
        height: 31px;
        width: 31px;
    }

    .top-slide-content-element-preview-block .read-more-block .plus-icon .icon-plus {
        font-size: 15px;
    }

    .top-slide-content-element .top-slide-content-element-preview-block {
        position: initial;
        bottom: initial;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        left: initial;
        width: 100%;
        padding: 0;
    }

    .top-slides-content-elements-logo-preview {
        -webkit-transition: .2s;
        -o-transition: .2s;
        -moz-transition: .2s;
        transition: .2s;
    }

    .top-slides-content-elements.has-active-child .top-slides-content-elements-logo-preview,
    .top-slides-content-elements.has-active-child .top-slide-content-element:not(.active) .top-slide-content-element-preview-block {
        display: block;
        opacity: 1;
    }

    .top-slides-content-elements.has-active-child .top-slides-content-elements-logo-preview {
        opacity: 0;
    }

    .top-slide-content-element-preview-block .read-more-block {
        display: block;
        margin-top: 0;
        position: absolute;
        top: 18px;
        right: 10px;
    }

    .top-slides-content-elements.has-active-child .top-slide-content-element-preview-block .read-more-block {
        top: 8px;
    }

    .top-slide-content-element-preview-block .content-block {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -moz-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 90px;
    }

    .top-slides-content-elements.has-active-child .top-slide-content-element.active .top-slide-content-element-preview-block .content-block .close-button .plus-icon {
        height: 31px;
        width: 31px;
    }

    .top-slides-content-elements.has-active-child .top-slide-content-element.active .top-slide-content-element-preview-block .content-block .close-button .plus-icon img {
        max-width: 100%;
    }

    .top-slides-content-elements.has-active-child .top-slide-content-element.active .top-slide-content-element-preview-block .content-block .close-button {
        margin-bottom: 0;
        display: block;
        margin-top: 0;
        position: absolute;
        top: 18px;
        right: 10px;
    }

    .top-slides-content-elements.has-active-child .top-slide-content-element:last-child.active .top-slide-content-element-preview-block .content-block .close-button {
        top: 0;
        right: 0;
    }

    .top-slides-content-elements.has-active-child .top-slide-content-element.active .top-slide-content-element-preview-block .content-block .main-header {
        font-size: 22px;
        line-height: 22px;
    }

    .top-slides-content-elements .top-slide-content-element .main-content-inside {
        margin-top: 20px;
    }

    .slider-pro {
        margin: 0 auto;
    }

    .sp-right-thumbnails {
        display: none;
    }

    .mfp-bg,
    .mfp-wrap {
        width: -webkit-calc(100vw - 20px);
        width: -moz-calc(100vw - 20px);
        width: calc(100vw - 20px);
    }

    .mfp-bg.fixed,
    .mfp-wrap.fixed {
        position: fixed !important;
        height: 100vh !important;
    }

    .top-slides-content-elements.has-active-child .top-slide-content-element.active .top-slide-content-element-preview-block .content-block {
        height: auto;
        margin-top: 20px;
    }

    .slider-content-block .slider-pro {
        min-width: initial;
        padding: 0;
        margin: 0 auto;
    }

    .top-slides-content-elements.last-element-active .top-slide-content-element:last-child.active,
    .top-slides-content-elements.last-element-active {
        background-color: #0B8756;
    }

    .top-slides-content-elements.last-element-active .top-slide-content-element:last-child.active {
        background: transparent;
    }

    .top-slide-content-element:last-child.active .main-content-inside {
        padding: 0;
    }

    .top-slide-content-element:last-child.active .main-content-inside img {
        max-width: 100%;
    }

    .top-slides-content-elements.has-active-child .top-slide-content-element.active .top-slide-content-element-preview-block {
        top: 0;
        left: 0;
        max-width: none;
    }

    button.mfp-close {
        height: 50px;
        width: 50px;
        -webkit-background-size: 100% 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;
        top: -35px;
        left: 10px;
    }

    /*TABS END*/

}

@media screen and (max-width: 1024px) {

    .sp-button {
        width: 11px;
        height: 11px;
        border: 1px solid #fff;
    }

    .sp-selected-button {
        background-color: #fff;
    }

}

@media screen and (max-width: 1023px) {

    .top-slide-content-element-preview-block .read-more-block .plus-icon .icon-plus, .top-slides-content-elements.has-active-child .top-slide-content-element.active .top-slide-content-element-preview-block .content-block .close-button .plus-icon .icon-plus {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .mfp-wrap {
        height: 100vh;
    }

    .mfp-bg {
        height: 100vh;
    }

    .mfp-container {
        top: 50%;
        transform: translateY(-50%);
    }

}

@media (min-width: 1024px) and (max-width: 1220px){

    .slider-content-block .slider-pro {
        margin-left: 268px;
    }

}


/*--------------------------- POPUP ---------------------------*/

@media screen and (max-width: 2560px){
    .mfp-bg,
    .mfp-wrap {
        top: 70px;
        left: 50%;
        width: 100%;
        transform: translateX(-50%);
        height: calc(100% - 187px);
        max-width: calc(1380px - 60px);
    }

    .mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
        max-width: calc(1380px - 60px);
        display: block;
        width: 100%;
    }

}

@media screen and (max-width: 1920px){

    .mfp-bg, .mfp-wrap {
        height: calc(100% - 100px);
    }

}

@media screen and (max-width: 1366px) {

    .mfp-bg, .mfp-wrap {
        max-width: calc(1380px - 76px);
    }

}

@media screen and (max-width: 1280px){

    .mfp-bg, .mfp-wrap {
        max-width: calc(1380px - 160px);
    }

}

@media screen and (max-width: 1024px){

    .mfp-bg, .mfp-wrap {
        max-width: calc(1024px - 78px);
    }

}

@media screen and (max-width: 768px){

    .mfp-bg, .mfp-wrap {
        max-width: calc(768px - 38px);
    }

}

@media screen and (max-width: 425px){

    .mfp-bg, .mfp-wrap {
        max-width: calc(425px - 20px);
    }

}

@media screen and (max-width: 414px){

    .mfp-bg, .mfp-wrap {
        max-width: calc(414px - 20px);
    }

}


@media screen and (max-width: 375px){

    .mfp-bg, .mfp-wrap {
        max-width: calc(375px - 20px);
    }

}

@media screen and (max-width: 360px){

    .mfp-bg, .mfp-wrap {
        max-width: calc(360px - 20px);
    }

}

@media screen and (max-width: 320px){

    .mfp-bg, .mfp-wrap {
        max-width: calc(320px - 22px);
    }

}