body {
    position: relative;
    font-size: 16px;
    background-color: #fff;
    font-family: 'NeueHaasUnicaPro-Regular';
    font-weight: 400;
}

.cd-section {
  display: none;
}

.main-content-elements {
	position:fixed;
	top: 70px;
}

* {
	transition-timing-function:  ease-out;
	transition-duration:  0.2s;
	transition-property: opacity,top,left;
}

.main-content-element.wrapper {
	/*transform: translate3d(0px, 100%, 0px);*/
    background-color: #fff;
}
.main-content-element.wrapper:nth-child(1) {
	/*transform: translate3d(0px, 0px, 0px);*/
}

.main-content-element,
.footer-wrapper {
    /*position: fixed;*/
    /*top: 0;*/
    left: 0;
    right: 0;
    height: 100%;
    width: 80%;
    max-width: 1380px;
    margin: 0 auto;
    color: #000;
    text-align: center;
    text-transform: uppercase;
}

.footer-wrapper {
    width: 100%;
    padding: 0 30px;
    /* height: 100vh; */
	height: initial;
    display: table;
}

main {padding-top: 70px;}

#anim1 .main-content-element-picture{
	width: inherit;
    height: calc(100vh - 70px);
    max-width: 1380px;
    padding: 0 0;
    margin: 0 auto;
}

@media (min-width: 1400px){

    #anim1 .main-content-element-picture{
        width: 100%!important;
    }

}

.prefooter-content-elements{
  position: fixed;
  max-width: 1380px;
  bottom: 0;
}

.prefooter-content-elements{
  position: fixed;
  max-width: 1380px;
  bottom: 0;
}

html {
    margin-right: 0 !important;
    overflow: visible !important;
}

/*font-family: 'NeueHaasUnicaPro-ThinItalic';*/
@font-face {
    font-family: 'NeueHaasUnicaPro-ThinItalic';
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-ThinItalic.eot');
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-ThinItalic.woff2') format('woff2'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-ThinItalic.woff') format('woff'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-ThinItalic.ttf') format('truetype'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-ThinItalic.svg#NeueHaasUnicaPro-ThinItalic') format('svg'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-ThinItalic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'NeueHaasUnicaPro-Medium';*/
@font-face {
    font-family: 'NeueHaasUnicaPro-Medium';
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Medium.eot');
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Medium.woff2') format('woff2'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Medium.woff') format('woff'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Medium.ttf') format('truetype'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Medium.svg#NeueHaasUnicaPro-Medium') format('svg'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Medium.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'NeueHaasUnicaPro-Thin';*/
@font-face {
    font-family: 'NeueHaasUnicaPro-Thin';
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Thin.eot');
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Thin.woff2') format('woff2'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Thin.woff') format('woff'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Thin.ttf') format('truetype'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Thin.svg#NeueHaasUnicaPro-Thin') format('svg'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Thin.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'NeueHaasUnicaPro-UltLightIt';*/
@font-face {
    font-family: 'NeueHaasUnicaPro-UltLightIt';
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-UltLightIt.eot');
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-UltLightIt.woff2') format('woff2'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-UltLightIt.woff') format('woff'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-UltLightIt.ttf') format('truetype'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-UltLightIt.svg#NeueHaasUnicaPro-UltLightIt') format('svg'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-UltLightIt.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'NeueHaasUnicaPro-UltraLight';*/
@font-face {
    font-family: 'NeueHaasUnicaPro-UltraLight';
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-UltraLight.eot');
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-UltraLight.woff2') format('woff2'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-UltraLight.woff') format('woff'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-UltraLight.ttf') format('truetype'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-UltraLight.svg#NeueHaasUnicaPro-UltraLight') format('svg'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-UltraLight.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'NeueHaasUnicaPro-XBlackIt';*/
@font-face {
    font-family: 'NeueHaasUnicaPro-XBlackIt';
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-XBlackIt.eot');
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-XBlackIt.woff2') format('woff2'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-XBlackIt.woff') format('woff'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-XBlackIt.ttf') format('truetype'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-XBlackIt.svg#NeueHaasUnicaPro-XBlackIt') format('svg'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-XBlackIt.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'NeueHaasUnicaPro-XBlack';*/
@font-face {
    font-family: 'NeueHaasUnicaPro-XBlack';
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-XBlack.eot');
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-XBlack.woff2') format('woff2'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-XBlack.woff') format('woff'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-XBlack.ttf') format('truetype'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-XBlack.svg#NeueHaasUnicaPro-XBlack') format('svg'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-XBlack.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'NeueHaasUnicaPro-Regular';*/
@font-face {
    font-family: 'NeueHaasUnicaPro-Regular';
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Regular.eot');
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Regular.woff2') format('woff2'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Regular.woff') format('woff'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Regular.ttf') format('truetype'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Regular.svg#NeueHaasUnicaPro-Regular') format('svg'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'NeueHaasUnicaPro-BlackIt';*/
@font-face {
    font-family: 'NeueHaasUnicaPro-BlackIt';
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-BlackIt.eot');
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-BlackIt.woff2') format('woff2'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-BlackIt.woff') format('woff'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-BlackIt.ttf') format('truetype'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-BlackIt.svg#NeueHaasUnicaPro-BlackIt') format('svg'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-BlackIt.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'NeueHaasUnicaPro-Black';*/
@font-face {
    font-family: 'NeueHaasUnicaPro-Black';
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Black.eot');
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Black.woff2') format('woff2'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Black.woff') format('woff'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Black.ttf') format('truetype'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Black.svg#NeueHaasUnicaPro-Black') format('svg'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Black.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'NeueHaasUnicaPro-BoldItalic';*/
@font-face {
    font-family: 'NeueHaasUnicaPro-BoldItalic';
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-BoldItalic.eot');
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-BoldItalic.woff2') format('woff2'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-BoldItalic.woff') format('woff'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-BoldItalic.ttf') format('truetype'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-BoldItalic.svg#NeueHaasUnicaPro-BoldItalic') format('svg'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-BoldItalic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'NeueHaasUnicaPro-Bold';*/
@font-face {
    font-family: 'NeueHaasUnicaPro-Bold';
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Bold.eot');
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Bold.woff2') format('woff2'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Bold.woff') format('woff'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Bold.ttf') format('truetype'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Bold.svg#NeueHaasUnicaPro-Bold') format('svg'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'NeueHaasUnicaPro-HeavyIt';*/
@font-face {
    font-family: 'NeueHaasUnicaPro-HeavyIt';
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-HeavyIt.eot');
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-HeavyIt.woff2') format('woff2'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-HeavyIt.woff') format('woff'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-HeavyIt.ttf') format('truetype'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-HeavyIt.svg#NeueHaasUnicaPro-HeavyIt') format('svg'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-HeavyIt.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'NeueHaasUnicaPro-Heavy';*/
@font-face {
    font-family: 'NeueHaasUnicaPro-Heavy';
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Heavy.eot');
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Heavy.woff2') format('woff2'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Heavy.woff') format('woff'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Heavy.ttf') format('truetype'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Heavy.svg#NeueHaasUnicaPro-Heavy') format('svg'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Heavy.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'NeueHaasUnicaPro-Italic';*/
@font-face {
    font-family: 'NeueHaasUnicaPro-Italic';
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Italic.eot');
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Italic.woff2') format('woff2'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Italic.woff') format('woff'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Italic.ttf') format('truetype'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Italic.svg#NeueHaasUnicaPro-Italic') format('svg'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Italic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'NeueHaasUnicaPro-LightIt';*/
@font-face {
    font-family: 'NeueHaasUnicaPro-LightIt';
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-LightIt.eot');
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-LightIt.woff2') format('woff2'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-LightIt.woff') format('woff'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-LightIt.ttf') format('truetype'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-LightIt.svg#NeueHaasUnicaPro-LightIt') format('svg'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-LightIt.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'NeueHaasUnicaPro-Light';*/
@font-face {
    font-family: 'NeueHaasUnicaPro-Light';
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Light.eot');
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Light.woff2') format('woff2'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Light.woff') format('woff'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Light.ttf') format('truetype'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Light.svg#NeueHaasUnicaPro-Light') format('svg'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-Light.eot?#iefix') format('embedded-opentype');
    font-weight: 300;
    font-style: normal;
}

/*font-family: 'NeueHaasUnicaPro-MediumIt';*/
@font-face {
    font-family: 'NeueHaasUnicaPro-MediumIt';
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-MediumIt.eot');
    src: url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-MediumIt.woff2') format('woff2'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-MediumIt.woff') format('woff'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-MediumIt.ttf') format('truetype'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-MediumIt.svg#NeueHaasUnicaPro-MediumIt') format('svg'),
    url('../fonts/NeueHaasUnica/NeueHaasUnicaPro-MediumIt.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'Times-Bold';*/
@font-face {
    font-family: 'Times-Bold';
    src: url('../fonts/Times/Times-Bold.eot');
    src: url('../fonts/Times/Times-Bold.woff2') format('woff2'),
    url('../fonts/Times/Times-Bold.woff') format('woff'),
    url('../fonts/Times/Times-Bold.ttf') format('truetype'),
    url('../fonts/Times/Times-Bold.svg#Times-Bold') format('svg'),
    url('../fonts/Times/Times-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'Times-BoldItalic';*/
@font-face {
    font-family: 'Times-BoldItalic';
    src: url('../fonts/Times/Times-BoldItalic.eot');
    src: url('../fonts/Times/Times-BoldItalic.woff2') format('woff2'),
    url('../fonts/Times/Times-BoldItalic.woff') format('woff'),
    url('../fonts/Times/Times-BoldItalic.ttf') format('truetype'),
    url('../fonts/Times/Times-BoldItalic.svg#Times-BoldItalic') format('svg'),
    url('../fonts/Times/Times-BoldItalic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'Times-Italic';*/
@font-face {
    font-family: 'Times-Italic';
    src: url('../fonts/Times/Times-Italic.eot');
    src: url('../fonts/Times/Times-Italic.woff2') format('woff2'),
    url('../fonts/Times/Times-Italic.woff') format('woff'),
    url('../fonts/Times/Times-Italic.ttf') format('truetype'),
    url('../fonts/Times/Times-Italic.svg#Times-Italic') format('svg'),
    url('../fonts/Times/Times-Italic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'Times-Roman';*/
@font-face {
    font-family: 'Times-Roman';
    src: url('../fonts/Times/Times-Roman.eot');
    src: url('../fonts/Times/Times-Roman.woff2') format('woff2'),
    url('../fonts/Times/Times-Roman.woff') format('woff'),
    url('../fonts/Times/Times-Roman.ttf') format('truetype'),
    url('../fonts/Times/Times-Roman.svg#Times-Roman') format('svg'),
    url('../fonts/Times/Times-Roman.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'munnrabot';  (fontello-icons)  */
@font-face {
    font-family: 'munnrabot';
    src: url('../fonts/fontello/munnrabot.eot?18332336');
    src: url('../fonts/fontello/munnrabot.eot?18332336#iefix') format('embedded-opentype'),
    url('../fonts/fontello/munnrabot.woff2?18332336') format('woff2'),
    url('../fonts/fontello/munnrabot.woff?18332336') format('woff'),
    url('../fonts/fontello/munnrabot.ttf?18332336') format('truetype'),
    url('../fonts/fontello/munnrabot.svg?18332336#munnrabot') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "munnrabot";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before { content: '\e800'; } /* '' */
.icon-play-button:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-instagram:before { content: '\e803'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrap {
    margin: 0 auto;
    max-width: 1380px;
    width: 100%;
    /*padding: 0 30px;*/
    overflow: hidden;
}

@-webkit-keyframes FadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes FadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes FadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes FadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.top-slides-content-wrapper {
    /*padding-bottom: 30px;*/
    padding: 0 30px 30px 30px;
}

/*homepage slider start*/
.sp-left-thumbnails, .sp-right-thumbnails {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.sp-thumbnail-container {
    cursor: pointer;
}

.sp-right-thumbnails {
    right: -30px;
    margin-left: 0;
}

.sp-right-thumbnails .sp-thumbnail-container {
    margin-bottom: 20px;
}

.sp-selected-thumbnail {
    position: relative;
}

.sp-selected-thumbnail::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(47, 45, 45, 0.3);
    z-index: 5;
}

/*homepage slider end*/

/*--------------- HEADER ---------------*/

header {
    background-color: #fff;
}

.header-wrapper {
    position: fixed;
    width: 100%;
    max-width: 1380px;
    height: 70px;
    padding: 0 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #fff;
	z-index: 999;
}

.header-logo {
    max-width: 175px;
    width: 100%;
    height: 30px;
    display: inline-block;
    float: left;
}

.header-logo img {
    width: 175px;
    height: 30px;
}

.header-navigation {
    float: right;
}

.header-navigation-item {
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}

.header-navigation-item:first-child {
    margin-left: 0;
}

.header-navigation-item:last-child {
    margin-right: 0;
}

.header-navigation-item a {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
    color: #7C7D81;
}

.mobile-btn-wrapper {
    position: relative;
    display: none;
    width: 18px;
    height: 16px;
    background-color: transparent;
}

.mobile-btn-wrapper .btn-line {
    position: absolute;
    display: block;
    width: 18px;
    height: 2px;
    background-color: #2F2D2D;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
}

.mobile-btn-wrapper .btn-line.top {
    top: 0;
    left: 0;
}

.mobile-btn-wrapper .btn-line.middle {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: .1s;
    -o-transition: .1s;
    -moz-transition: .1s;
    transition: .1s;
}

.mobile-btn-wrapper .btn-line.bottom {
    bottom: 0;
    left: 0;
}

.mobile-btn-wrapper.active .btn-line.middle {
    width: 0;
}

.mobile-btn-wrapper.active .btn-line.top {
    top: 7px;
    left: -2px;
    -webkit-transform: rotate(42deg);
    -moz-transform: rotate(42deg);
    -ms-transform: rotate(42deg);
    -o-transform: rotate(42deg);
    transform: rotate(42deg);
    width: 22px;
}

.mobile-btn-wrapper.active .btn-line.bottom {
    bottom: 7px;
    left: -2px;
    -webkit-transform: rotate(-42deg);
    -moz-transform: rotate(-42deg);
    -ms-transform: rotate(-42deg);
    -o-transform: rotate(-42deg);
    transform: rotate(-42deg);
    width: 22px;
}

/*--------------- top slides content wrapper ---------------*/

.top-slides-content-elements {
    position: relative;
    width: 100%;
    height: 800px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}

.top-slides-content-elements::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 29%;
    z-index: 1;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .075)), to(rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, .075), rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(top, rgba(0, 0, 0, .075), rgba(0, 0, 0, 0));
    background: -o-linear-gradient(top, rgba(0, 0, 0, .075), rgba(0, 0, 0, 0));
    background: linear-gradient(180deg, rgba(0, 0, 0, .075), rgba(0, 0, 0, 0));
}

.top-slides-content-elements::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 28%;
    z-index: 1;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, .1)), to(rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
    background: linear-gradient(to top, rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
}

.top-slides-content-elements.has-active-child::before,
.top-slides-content-elements.has-active-child::after {
    z-index: 0;
}

.top-slides-content-elements .top-slides-content-elements-logo-preview {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 116px;
    height: 61px;
    display: block;
    z-index: 2;
}

.top-slides-content-elements .top-slides-content-elements-logo-preview img {
    max-width: 100%;
}

.top-slides-content-elements.has-active-child .top-slides-content-elements-logo-preview {
    display: none;
}

.top-slide-content-element {
    position: relative;
    display: inline-block;
    width: 25%;
    height: 100%;
    max-height: 800px;
    background-color: #0B8756;
    border-right: 1px solid #CECFD0;
    border-left: 1px solid #CECFD0;
    -webkit-transition: background .8s, width 1s;
    -o-transition: background .8s, width 1s;
    -moz-transition: background .8s, width 1s;
    transition: background .8s, width 1s;
}

.top-slide-content-element:last-child {
    background-color: #B9BBB9;
}

.top-slides-content-elements.has-active-child .top-slide-content-element:last-child {
    background-color: #9B9B9B;
}

@media screen and (min-width: 768px) {
    .top-slide-content-element:last-child .top-slide-content-element-preview-block .read-more-block {
        margin-top: 80px;
    }
}

.top-slide-content-element:last-child.active .top-slide-content-element-preview-block {
    position: relative;
}

.top-slide-content-element:last-child.active .tab-main-description-text {
    margin-left: 0;
    margin-right: 0;
    text-align: left;
}

.top-slide-content-element:last-child.active .main-content-inside {
    padding: 0 30px;
}

.top-slide-content-element .top-slide-content-element-preview-block {
    position: absolute;
    bottom: 321px;
    top: 302px;
    left: 0;
    width: 100%;
    padding: 0 25px;
    z-index: 3;
}

.top-slide-content-element-preview-block .read-more-block {
    display: block;
    margin-top: 60px;
}

.close-button .plus-icon,
.top-slide-content-element-preview-block .read-more-block .plus-icon,
.top-slides-content-elements.has-active-child .top-slide-content-element.active .top-slide-content-element-preview-block .content-block .close-button .plus-icon {
    position: relative;
    background-color: transparent;
    border: 2px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    -webkit-transition: background-color .3s;
    -o-transition: background-color .3s;
    -moz-transition: background-color .3s;
    transition: background-color .3s;
}

.top-slide-content-element-preview-block .read-more-block .plus-icon .icon-plus,
.close-button .plus-icon .icon-plus {
    position: absolute;
    top: 9px;
    left: 14px;
    vertical-align: middle;
    font-style: normal;
    color: #fff;
    margin: 0;
    display: inline-block;
    width: initial;
    font-size: 23px;
    -webkit-transition: color .3s;
    -o-transition: color .3s;
    -moz-transition: color .3s;
    transition: color .3s;
    font-family: 'munnrabot';
}

.close-button .plus-icon .icon-plus {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -moz-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    -o-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
    font-size: 18px;
    -webkit-transition: -webkit-transform 0s;
    transition: -webkit-transform 0s;
    -o-transition: -o-transform 0s;
    -moz-transition: transform 0s, -moz-transform 0s;
    transition: transform 0s;
    transition: transform 0s, -webkit-transform 0s, -moz-transform 0s, -o-transform 0s;
}

.top-slides-content-elements.has-active-child .top-slide-content-element.active .top-slide-content-element-preview-block .content-block .close-button .plus-icon {
    background-color: transparent;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.top-slide-content-element-preview-block .read-more-block .read-more-block-title {
    color: rgba(255, 255, 255, 1);
    -webkit-transition: opacity .6s;
    -o-transition: opacity .6s;
    -moz-transition: opacity .6s;
    transition: opacity .6s;
    margin-left: 9px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
    font-family: 'NeueHaasUnicaPro-Light';
    opacity: 0;
}

.top-slide-content-element:first-child {
    border-left: none;
}

.top-slide-content-element:last-child {
    border-right: none;
}

.top-slide-content-element:not(.active)::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .0);
    z-index: 2;
    -webkit-transition: .65s;
    -o-transition: .65s;
    -moz-transition: .65s;
    transition: .65s;
}

.top-slide-content-element.light-effect {
    position: relative;
}

@-webkit-keyframes LightEffect {

    0% {
        background-color: rgba(255, 255, 255, .0);
    }

    50% {
        background-color: rgba(255, 255, 255, .2);
    }

    100% {
        background-color: rgba(255, 255, 255, .0);
    }

}

@-moz-keyframes LightEffect {

    0% {
        background-color: rgba(255, 255, 255, .0);
    }

    50% {
        background-color: rgba(255, 255, 255, .2);
    }

    100% {
        background-color: rgba(255, 255, 255, .0);
    }

}

@-o-keyframes LightEffect {

    0% {
        background-color: rgba(255, 255, 255, .0);
    }

    50% {
        background-color: rgba(255, 255, 255, .2);
    }

    100% {
        background-color: rgba(255, 255, 255, .0);
    }

}

@keyframes LightEffect {

    0% {
        background-color: rgba(255, 255, 255, .0);
    }

    50% {
        background-color: rgba(255, 255, 255, .2);
    }

    100% {
        background-color: rgba(255, 255, 255, .0);
    }

}

.top-slides-content-elements.has-active-child .top-slide-content-element.light-effect:not(.active)::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -webkit-animation-name: LightEffect;
    -moz-animation-name: LightEffect;
    -o-animation-name: LightEffect;
    animation-name: LightEffect;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}

top-slides-content-elements.has-active-child .top-slide-content-element.active.light-effect::before {
    background-color: rgba(255, 255, 255, .0);
}

@media screen and (min-width: 768px) {

    .close-button .plus-icon::before,
    .top-slide-content-element-preview-block .read-more-block .plus-icon::before {
        position: absolute;
        content: '';
        top: -1px;
        left: -1px;
        right: 0;
        bottom: 0;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        background-color: #fff;
        height: 43px;
        width: 43px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -webkit-transition: .4s;
        -o-transition: .4s;
        -moz-transition: .4s;
        transition: .4s;
    }

    .close-button .plus-icon::before {
        height: 39px;
        width: 39px;
    }

    .close-button:hover .plus-icon::before {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

    .close-button:hover .plus-icon .icon-plus {
        color: #B9BBB9;
    }

    .top-slides-content-elements.has-active-child .top-slide-content-element {
        width: 5%;
        background-color: #B9BBB9;
    }

    .top-slides-content-elements.has-active-child .top-slide-content-element.active:last-child {
        background-color: #0B8756;
    }

    .top-slides-content-elements.has-active-child .top-slide-content-element.active {
        width: 85%;
        background-color: #B9BBB9;
    }

    .top-slides-content-elements.has-active-child .top-slide-content-element.last-element-active {
        background-color: #0B8756 !important;
    }

    .top-slides-content-elements.last-element-active .top-slide-content-element {
        background-color: #0B8756 !important;
    }

}

@media screen and (min-width: 768px) {
    .top-slides-content-elements.has-active-child.delay .top-slide-content-element .top-slide-content-element-preview-block .content-block .main-header {
        opacity: 1 !important;
    }

    .top-slides-content-elements.delay .top-slide-content-element .top-slide-content-element-preview-block .content-block .main-header,
    .top-slides-content-elements.delay .top-slide-content-element .top-slide-content-element-preview-block .content-block .description,
    .top-slides-content-elements.delay .top-slide-content-element .top-slide-content-element-preview-block .read-more-block {
        opacity: 0 !important;
    }
}

.top-slides-content-elements.delay .top-slide-content-element:not(.active) .top-slide-content-element-preview-block .content-block .year {
    opacity: 0 !important;
}

.top-slides-content-elements.has-active-child .top-slide-content-element.active .top-slide-content-element-preview-block .content-block .year {
    opacity: 0;
    -webkit-animation-name: FadeIn;
    -moz-animation-name: FadeIn;
    -o-animation-name: FadeIn;
    animation-name: FadeIn;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -o-animation-delay: .1s;
    animation-delay: .1s;
    -webkit-animation-duration: 3.2s;
    -moz-animation-duration: 3.2s;
    -o-animation-duration: 3.2s;
    animation-duration: 3.2s;
}

.top-slides-content-elements.has-active-child .top-slide-content-element.active .top-slide-content-element-preview-block .read-more-block {
    margin: 0;
    display: none;
}

@media screen and (min-width: 768px) {

    .top-slides-content-elements.has-active-child .top-slide-content-element:hover:not(.active)::before {
        background-color: #d4d4d4;
    }

    .top-slides-content-elements.has-active-child .top-slide-content-element:last-child:hover:not(.active)::before {
        background-color: rgba(47, 45, 45, 0.3);
    }

    .top-slide-content-element:hover:not(.active) {
        cursor: pointer;
    }

    .top-slide-content-element:hover:not(.active) .top-slide-content-element-preview-block .read-more-block .plus-icon::before {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

    .top-slide-content-element:hover:not(.active) .top-slide-content-element-preview-block .read-more-block .plus-icon .icon-plus {
        color: #165C40;
    }

    .top-slide-content-element:hover:not(.active) .top-slide-content-element-preview-block .read-more-block .read-more-block-title {
        -webkit-animation-name: FadeIn;
        -moz-animation-name: FadeIn;
        -o-animation-name: FadeIn;
        animation-name: FadeIn;
        -webkit-animation-duration: .4s;
        -moz-animation-duration: .4s;
        -o-animation-duration: .4s;
        animation-duration: .4s;
        -webkit-animation-delay: .3s;
        -moz-animation-delay: .3s;
        -o-animation-delay: .3s;
        animation-delay: .3s;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    .top-slide-content-element:hover:not(.active) .top-slide-content-element-preview-block .content-block .description {
        height: 100px;
        opacity: 1;
    }

    .top-slide-content-element:hover:not(.active) .top-slide-content-element-preview-block .content-block {
        margin-top: -100px;
    }

    .top-slides-content-elements.delay .top-slide-content-element:hover:not(.active) .top-slide-content-element-preview-block .content-block,
    .top-slide-content-element:last-child:hover:not(.active) .top-slide-content-element-preview-block .content-block {
        margin-top: 0 !important;
    }

    .top-slide-content-element:last-child:hover:not(.active) .top-slide-content-element-preview-block .read-more-block .plus-icon .icon-plus {
        color: #B9BBB9;
    }

    .top-slides-content-elements.delay .top-slide-content-element:hover:not(.active) .top-slide-content-element-preview-block .content-block .description {
        height: 0 !important;
    }

}

.top-slide-content-element-preview-block .content-block .main-header {
    display: block;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
    font-family: 'NeueHaasUnicaPro-Thin';
    font-size: 32px;
    font-weight: 100;
    line-height: 32px;
    word-wrap: break-word;
}

.top-slide-content-element-preview-block .content-block .year {
    display: block;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'NeueHaasUnicaPro-Regular';
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
}

.top-slide-content-element-preview-block .content-block .description {
    -webkit-transition: .4s, opacity .3s;
    -o-transition: .4s, opacity .3s;
    -moz-transition: .4s, opacity .3s;
    transition: .4s, opacity .3s;
    height: 0;
    opacity: 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #fff;
    margin-top: 19px;
    font-family: 'NeueHaasUnicaPro-Thin';
}

.top-slide-content-element-preview-block .content-block {
    -webkit-transition: .4s;
    -o-transition: .4s;
    -moz-transition: .4s;
    transition: .4s;
    overflow: hidden;
    padding-left: 10px;
    margin-left: -10px;
}

.top-slide-content-element .preview-header {
    display: none;
}

.top-slides-content-elements.has-active-child .top-slide-content-element:not(.active) .preview-header {
    position: relative;
    display: block;
    margin: 53px auto 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    z-index: 3;
}

.top-slides-content-elements.has-active-child .top-slide-content-element:not(.active) .preview-header .main-header {
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    font-family: 'NeueHaasUnicaPro-Regular';
    color: #fff;
    text-transform: uppercase;
}

.top-slides-content-elements.has-active-child .top-slide-content-element.active .top-slide-content-element-preview-block .content-block .description {
    display: none;
}

.top-slides-content-elements .top-slide-content-element .top-slide-content-element-preview-block .content-block .description-inside-link {
    display: none;
    margin-top: 30px;
    font-family: 'Times-Roman', Times;
  /*  font-family: 'Rasa', serif;
    font-weight: 300;
    letter-spacing: 0.5px;*/
    font-size: 20px;
    line-height: 26px;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

.description-inside-link-mobile {
    display: none;
}

.description-inside-link .brackets.front {
    position: absolute;
    left: -9px;
}

.top-slides-content-elements.has-active-child .top-slide-content-element.active .top-slide-content-element-preview-block .content-block .description-inside-link {
    display: block;
}

.top-slides-content-elements.has-active-child .top-slide-content-element:not(.active) .top-slide-content-element-preview-block,
.top-slides-content-elements .top-slide-content-element .top-slide-content-element-preview-block .content-block .close-button {
    display: none;
}

.top-slides-content-elements.has-active-child .top-slide-content-element.active .top-slide-content-element-preview-block .content-block .close-button {
    display: inline-block;
    margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
    .top-slides-content-elements.has-active-child .top-slide-content-element .top-slide-content-element-preview-block {
        opacity: 0;
        -webkit-animation-delay: .8s;
        -moz-animation-delay: .8s;
        -o-animation-delay: .8s;
        animation-delay: .8s;
        -webkit-animation-duration: .8s;
        -moz-animation-duration: .8s;
        -o-animation-duration: .8s;
        animation-duration: .8s;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    .top-slides-content-elements.has-active-child .top-slide-content-element.active .top-slide-content-element-preview-block {
        max-width: 228px;
        top: 30px;
        left: 30px;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        bottom: initial;
        padding: 0;
        -webkit-animation-name: FadeIn;
        -moz-animation-name: FadeIn;
        -o-animation-name: FadeIn;
        animation-name: FadeIn;
    }
}

.top-slides-content-elements.has-active-child .top-slide-content-element.active .top-slide-content-element-preview-block .content-block .main-header {
    font-size: 28px;
    line-height: 28px;
    opacity: 1 !important;
}

.top-slides-content-elements.has-active-child .top-slide-content-element.active .top-slide-content-element-preview-block .content-block .year {
    font-size: 22px;
    line-height: 22px;
}

.top-slides-content-elements .top-slide-content-element .main-content-inside {
    visibility: hidden;
    margin-top: 60px;
    opacity: 0;
    -webkit-transition: .6s;
    -o-transition: .6s;
    -moz-transition: .6s;
    transition: .6s;
    -webkit-animation-duration: .8s;
    -moz-animation-duration: .8s;
    -o-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-delay: .8s;
    -moz-animation-delay: .8s;
    -o-animation-delay: .8s;
    animation-delay: .8s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    font-family: 'NeueHaasUnicaPro-Thin';
}

.top-slides-content-elements.has-active-child .top-slide-content-element.active .main-content-inside {
    -webkit-animation-name: FadeIn;
    -moz-animation-name: FadeIn;
    -o-animation-name: FadeIn;
    animation-name: FadeIn;
}

.top-slides-content-elements .top-slide-content-element.active .main-content-inside {
    visibility: visible;
}

.slider-content-block .slider-pro {
    min-width: 356px;
}

.slider-pro {
    margin-left: 318px;
}

.tab-main-description-text {
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    margin-top: 30px;
}

.top-slides-content-elements.has-active-child .top-slide-content-element.active:last-child .close-button .plus-icon .icon-plus {
    -webkit-transition: .4s;
    -o-transition: .4s;
    -moz-transition: .4s;
    transition: .4s;
}

.top-slides-content-elements.has-active-child .top-slide-content-element.active:last-child .close-button .plus-icon:hover .icon-plus {
    color: #0B8756;
}

.result-tab-big {
    display: block;
}

.result-tab-mini {
    display: none;
}

.top-slide-content-element .read-more-block-mobile {
    display: none;
}

/* ============================= CONTACTS PAGE ============================= */

@media (min-width: 1400px){

    .main-content-element {
        width: 100%;
    }

}

.main-content-element {
    /*width: 100%;*/
    /*max-width: 100%;*/
    /* margin-top: 50px; */
}

.main-content-element-picture,
.main-content-element-video {
    width: 100%;
    position: relative;
    /*background-color: grey;*/
    /*height: 943px;*/
    height: 100vh;
}

.main-content-element-picture {
    max-height: calc(100vh - 70px);
}


.main-content-element-picture img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    /*height: 100%;*/
}

.main-content-element-video {
    /*margin-top: 30px;*/
    margin-top: 0;
    max-height: calc(100vh - 70px);
    /*padding: 10px 30px;*/
    padding: 10px 0;
}

.main-content-element-video .youtube {
    width: 100%;
    height: 100%;
    display: block;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.main-content-element-video iframe {
    width: 100%;
    height: 100%;
    display: block;
}

.main-content-element:first-child {
    margin-top: 0;
}

.red-text-block {
    position: absolute;
    top: 81px;
    right: 81px;
   /*  padding: 26px 12px; */
    padding: 0 10px;
    max-width: 242px;
    width: 100%;
    background-color: #EE3324;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 36px;
    font-family: 'NeueHaasUnicaPro-Bold';
    letter-spacing: 1px;
	overflow: hidden;
    text-align: left;
    line-height: 37px;
}

.red-text-block p{
    display: block;
    margin: 25px 0;
}

.main-content-element .text-block {
    text-align: center;
    width: 100%;
    max-width: 765px;
    /*margin: 0 auto;*/
    margin: 35px auto 40px auto;
    text-transform: none;
}

.main-content-element .text-block-header {
    color: #1D1D1D;
    font-size: 28px;
    line-height: 43px;
    font-weight: inherit;
    font-family: inherit;
    margin-bottom: 20px;
}

.main-content-element .text-block p {
    font-size: 22px;
    font-weight: 200;
    line-height: 33px;
    color: #000000;
    font-family: 'NeueHaasUnicaPro-Thin';
}

.video-button-play {
    position: relative;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    height: 103px;
    width: 103px;
    border-radius: 50%;
    border: 3px solid #fff;
    cursor: pointer;
    background-color: transparent;
    transition: .4s;
}

.video-button-play:hover {
    background-color: rgba(255,255,255,.4);
    border: 3px solid transparent;
}

.video-button-play::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 63px;
    transform: translate(-50%,-50%);
    border: 20px solid transparent;
    border-left: 43px solid #fff;
}


.main-content-element-picture.notebook,
.main-content-element-picture.tablet {
    overflow: hidden;
}

.main-content-element-picture.tablet {
    position: relative;
}

.main-content-element-picture.tablet .absolute-man-block {
    position: absolute;
    height: 164px;
    width: 162px;
    z-index: 10;
    bottom: 24.1%;
    right: 31.6%;
    opacity: 1;
    top: 15%;
    left: 15%;
    overflow: hidden;
}

.absolute-man-block .main-content-element-video {
    /*display: none;*/
    position: absolute;
    top: 0;
    max-height: 636px;
    padding: 0;
    /*opacity: 0;*/
}

.main-content-element-picture.notebook .main-content-element-picture-notebook-img-block {
    padding: 20px 70px;
    max-width: 100%;
}
.main-content-element-picture.notebook {
	background-color: #F7F6F6;
}
.main-content-element-picture.tablet .main-content-element-picture-tablet-img-block {
	padding: 15px;
    z-index: 10;
    position: relative;
}

.main-content-element-picture.notebook .main-content-element-picture-notebook-img-block img,
.main-content-element-picture.tablet .main-content-element-picture-tablet-img-block img {
    max-height: calc(100vh - 100px);
    object-fit: contain;
    width: auto;
}

.main-content-element-picture.notebook .main-content-element-picture-notebook-img-block .wrapper {
    position: absolute;
    top: 5%;
    bottom: 22%;
    left: 12.5%;
    right: 12.5%;
    padding: 5px 15px;
    overflow: hidden;
}

.main-content-element-picture.tablet .main-content-element-picture-tablet-img-block .wrapper {
    position: absolute;
    top: 9%;
    bottom: 12%;
    left: 30.8%;
    right: 30.5%;
    padding: 5px 15px;
    overflow: hidden;
}

.main-content-element-picture.notebook .main-content-element-picture-notebook-img-block .wrapper .content-inside-notebook-block {
    position: relative;
    top: 0;
}

.prefooter-content-elements {
    margin-top: 45px;
}

.prefooter-content-elements-header {
    margin: 0 auto;
    display: block;
    max-width: 490px;
    width: 100%;
    font-size: 22px;
    font-weight: 300;
    line-height: 33px;
    font-family: 'NeueHaasUnicaPro-Light';
}

.prefooter-content-element-items {
    margin-top: 23px;
    display: flex;
    /*height: calc(100vh - 70px);*/
}

.prefooter-content-element-item {
    position: relative;
    display: inline-block;
    max-width: 440px;
    width: 100%;
    height: 315px;
    overflow: hidden;
    padding: 0;
    margin: 0 15px;
}

	.bigimages .prefooter-content-element-item {
		height: calc(100vh - 100px);
	}
	#anim5 {
        overflow: hidden;
    }

	#anim6 {overflow: hidden;}

.prefooter-content-element-item:first-child {
    margin-left: 0;
}

.prefooter-content-element-item:last-child {
    margin-right: 0;
}

.prefooter-content-element-item img{
    max-width: 100%;
    height: 100%;
}

.prefooter-content-element-item::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0);
    transition: width .5s, height .5s, background-color .6s;
}

.prefooter-content-element-item:hover::before {
    background-color: rgba(255,255,255,0.6);
    width: 90%;
    height: 90%;
}

.prefooter-content-element-item .name {
    opacity: 0;
    transition: .4s;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(1.5);
    color: #000000;
    font-family: 'NeueHaasUnicaPro-Light';
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
}

.prefooter-content-element-item:hover .name {
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
}

footer {
    margin-top: 62px;
    display: block;
    float: left;
}

.footer-logo {
    max-width: 168px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}

.footer-logo img {
    max-width: 100% ;
}

.footer-first-part {
    padding: 28px 0;
    border-bottom: 2px solid #4A4A4A;
    clear: both;
    float: left;
    width: 100%;
}

.footer-first-part .left {
    display: inline-block;
    float: left;
}

.footer-first-part .right {
    display: inline-block;
    float: right;
}

.footer-first-part .address-info {
    margin-left: 160px;
    display: inline-block;
    vertical-align: middle;
}

.footer-first-part .address-info .text {
    display: block;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    font-family: "NeueHaasUnicaPro-Light";
    color: #000000;
}

.footer-first-part-social-list {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.footer-first-part-social-list li {
    display: inline-block;
    margin: 0 15px;
    vertical-align: middle;
}

.footer-first-part-social-list li:first-child {
    margin-left: 0;
}

.footer-first-part-social-list li:last-child {
    margin-right: 0;
}

.footer-first-part-social-list li a {
    color: #706F72;
    vertical-align: middle;
    transition: .4s;
}

.footer-first-part-social-list li a.facebook-link-icon {
    font-size: 20px;
}

.footer-first-part-social-list li a.twitter-link-icon {
    font-size: 19px;
}

.footer-first-part-social-list li a.instagram-link-icon {
    font-size: 20px;
}

.footer-first-part-social-list li a.youtube-play-link-icon {
    font-size: 28px;
}

.footer-first-part-social-list li a:hover.facebook-link-icon {
    color: #3b5998;
}

.footer-first-part-social-list li a:hover.twitter-link-icon {
    color: #55acee;
}

.footer-first-part-social-list li a:hover.instagram-link-icon {
    color: #e95950;
}

.footer-first-part-social-list li a:hover.youtube-play-link-icon {
    color: #ff0000;
}

.footer-second-part {
    display: block;
    margin-top: 48px;
    float: left;
    width: 100%;
}

.footer-second-part .footer-header {
    color: #2f3131;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    font-family:  "NeueHaasUnicaPro-Medium";
}

.footer-second-part .contacts-wrapper {
    margin-top: 40px;
}

.footer-second-part .contact-items-list {
    display: inline-block;
    width: 24%;
    text-align: left;
    margin: 0;
    padding: 0;
}

.footer-second-part .contact-items-list * {
    font-size: 14px;
    line-height: 21px;
    font-family:  "NeueHaasUnicaPro-Regular";
    font-weight: 400;
    color: #2F3131;
    text-decoration: none;
}

.footer-second-part .contact-items-list .incumbency {
    font-size: 15px;
    font-family:  "NeueHaasUnicaPro-Bold";
    font-weight: 700;
}

.footer-second-part .contact-items-list li {
    list-style: none;
}

.copyright-block {
    padding: 40px 0;
    color: #706f72;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
}

.video-responsive {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow:hidden;
    top: 50%;
    transform: translateY(-50%);
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header-content-elements {
    /* float: left; */
    width: 100%;
    max-width: 857px;
    display: inline-block;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 65px 15px 0;
}

.header-content-elements .left-block a {
    color: #e12621;
    font-size: 24px;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    font-family: "NeueHaasUnicaPro-Bold";
}

.header-content-elements .left-block,
.header-content-elements .right-block {
    display: inline-block;
    vertical-align: middle;
}

.header-content-elements .left-block {
    float: left;
}

.header-content-elements .right-block {
    float: right;
    text-align: left;
    color: #8D8D8D;
    font-size: 10px;
    text-transform: none;
}

.header-content-elements .right-block a {
    color: #8D8D8D;
    text-decoration: none;
}

.header-content-elements .right-block span {
    display: block;
}

.main-content-element-picture.notebook .main-content-element-picture-notebook-img-block .wrapper .grid-items-elements,
.main-content-element-picture.tablet .main-content-element-picture-tablet-img-block .wrapper .grid-items-elements {
    height: 100%;
    float: none;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
}

.main-content-element-picture.notebook .main-content-element-picture-notebook-img-block .wrapper .grid-items-elements .column,
.main-content-element-picture.tablet .main-content-element-picture-tablet-img-block .wrapper .grid-items-elements .column {
    float: left;
    display: inline-block;
    margin-right: 8px;
}

.main-content-element-picture.notebook .main-content-element-picture-notebook-img-block .wrapper .grid-items-elements .column:last-child,
.main-content-element-picture.tablet .main-content-element-picture-tablet-img-block .wrapper .grid-items-elements .column:last-child {
    margin-right: 0;
}

.main-content-element-picture.notebook .main-content-element-picture-notebook-img-block .wrapper .grid-items-elements .column .item-element,
.main-content-element-picture.tablet .main-content-element-picture-tablet-img-block .wrapper .grid-items-elements .column .item-element {
    height: 165px;
    width: 165px;
    background-color: grey;
    display: block;
    margin-top: 10px;
    position: relative;
}

.main-content-element-picture.tablet .main-content-element-picture-tablet-img-block .wrapper .grid-items-elements .column .item-element {
    height: 164px;
    width: 162px;
    margin-top: 8px;
}

.main-content-element-picture.notebook .main-content-element-picture-notebook-img-block .wrapper .grid-items-elements .column .item-element img,
.main-content-element-picture.tablet .main-content-element-picture-tablet-img-block .wrapper .grid-items-elements .column .item-element img {
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
}

.main-content-element-picture.notebook .main-content-element-picture-notebook-img-block .wrapper .grid-items-elements .column .item-element .name-wrapper,
.main-content-element-picture.tablet .main-content-element-picture-tablet-img-block .wrapper .grid-items-elements .column .item-element .name-wrapper{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0, .9);
    display: inline-block;
    padding: 5px 7px;
    text-align: left;
    height: 23px;
    vertical-align: middle;
}

.main-content-element-picture.notebook .main-content-element-picture-notebook-img-block .wrapper .grid-items-elements .column .item-element .name-wrapper .name,
.main-content-element-picture.tablet .main-content-element-picture-tablet-img-block .wrapper .grid-items-elements .column .item-element .name-wrapper .name{
    color: #fff;
    font-size: 9px;
    margin: 0;
    text-transform: none;
    display: inline-block;
    vertical-align: top;
    height: 13px;
    width: 100%;
    padding: 0;
}

.main-content-element-picture.notebook .main-content-element-picture-notebook-img-block .wrapper .grid-items-elements .column .item-element:first-child,
.main-content-element-picture.tablet .main-content-element-picture-tablet-img-block .wrapper .grid-items-elements .column .item-element:first-child {
    margin-top: 0;
}

.main-content-element-picture.notebook .main-content-element-picture-notebook-img-block .wrapper .grid-items-elements .column .item-element.big {
    height: 340px;
}

.main-content-element-picture.tablet .main-content-element-picture-tablet-img-block .wrapper .grid-items-elements .column .item-element.big {
    height: 336px;
}

.prefooter-wrapperrrr {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 70px);
}

.prefooter-slider-wrapper {
    width: 100%;
    height: 600px;
    display: block;
}


.prefooter-slider-item {
    height: 590px;
    /*width: 400px;*/
    background-color: grey;
    margin: 0 20px;
}

.prefooter-slider-wrapper .slick-slide
{
    width: 590px;
}