body {
    position: relative;
    font-size: 16px;
    background-color: #fff;
    font-family: 'NeueHaasUnicaPro-Regular';
    font-weight: 400;
}

body.disable-scroll {
    overflow: hidden;
}

html {
    margin-right: 0 !important;
    overflow: visible !important;
}

.wrap {
    margin: 0 auto;
    max-width: 1380px;
    width: 100%;
    /*padding: 0 30px;*/
    overflow: hidden;
}

@-webkit-keyframes FadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes FadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes FadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes FadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.top-slides-content-wrapper {
    /*padding-bottom: 30px;*/
    padding: 0 30px 30px 30px;
}

/*homepage slider start*/
.sp-left-thumbnails, .sp-right-thumbnails {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.sp-thumbnail-container {
    cursor: pointer;
}

.sp-right-thumbnails {
    right: -30px;
    margin-left: 0;
}

.sp-right-thumbnails .sp-thumbnail-container {
    margin-bottom: 20px;
}

.sp-selected-thumbnail {
    position: relative;
}

.sp-selected-thumbnail::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(47, 45, 45, 0.3);
    z-index: 5;
}

/*homepage slider end*/

/*--------------- HEADER ---------------*/

header {
    background-color: #fff;
}

.header-wrapper {
    position: fixed;
    width: 100%;
    max-width: 1380px;
    /*max-width: 100vw;*/
    height: 70px;
    /*padding: 0;*/
    padding: 0 30px;
    /*left: 0;*/
    /*right: 0;*/
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #fff;
	z-index: 999;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.header-logo {
    max-width: 390px;
    width: 100%;
    height: 30px;
    /*display: inline-block;*/
    float: left;
    display: flex;
    align-items: center;
}

.header-logo img {
    width: 175px;
    height: 30px;
}

.header-navigation {
    float: right;
}

.header-navigation-item {
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}

.header-navigation-item:first-child {
    margin-left: 0;
}

.header-navigation-item:last-child {
    margin-right: 0;
}

.header-navigation-item a {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
    color: #7C7D81;
}

.mobile-btn-wrapper {
    position: relative;
    display: none;
    width: 18px;
    height: 16px;
    background-color: transparent;
}

.mobile-btn-wrapper .btn-line {
    position: absolute;
    display: block;
    width: 18px;
    height: 2px;
    background-color: #2F2D2D;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
}

.mobile-btn-wrapper .btn-line.top {
    top: 0;
    left: 0;
}

.mobile-btn-wrapper .btn-line.middle {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: .1s;
    -o-transition: .1s;
    -moz-transition: .1s;
    transition: .1s;
}

.mobile-btn-wrapper .btn-line.bottom {
    bottom: 0;
    left: 0;
}

.mobile-btn-wrapper.active .btn-line.middle {
    width: 0;
}

.mobile-btn-wrapper.active .btn-line.top {
    top: 7px;
    left: -2px;
    -webkit-transform: rotate(42deg);
    -moz-transform: rotate(42deg);
    -ms-transform: rotate(42deg);
    -o-transform: rotate(42deg);
    transform: rotate(42deg);
    width: 22px;
}

.mobile-btn-wrapper.active .btn-line.bottom {
    bottom: 7px;
    left: -2px;
    -webkit-transform: rotate(-42deg);
    -moz-transform: rotate(-42deg);
    -ms-transform: rotate(-42deg);
    -o-transform: rotate(-42deg);
    transform: rotate(-42deg);
    width: 22px;
}

/*--------------- top slides content wrapper ---------------*/

.top-slides-content-elements {
    position: relative;
    width: 100%;
    height: 800px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}

.top-slides-content-elements::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 29%;
    z-index: 1;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .075)), to(rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, .075), rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(top, rgba(0, 0, 0, .075), rgba(0, 0, 0, 0));
    background: -o-linear-gradient(top, rgba(0, 0, 0, .075), rgba(0, 0, 0, 0));
    background: linear-gradient(180deg, rgba(0, 0, 0, .075), rgba(0, 0, 0, 0));
}

.top-slides-content-elements::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 28%;
    z-index: 1;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, .1)), to(rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
    background: linear-gradient(to top, rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
}

.top-slides-content-elements.has-active-child::before,
.top-slides-content-elements.has-active-child::after {
    z-index: 0;
}

.top-slides-content-elements .top-slides-content-elements-logo-preview {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 116px;
    height: 61px;
    display: block;
    z-index: 2;
}

.top-slides-content-elements .top-slides-content-elements-logo-preview img {
    max-width: 100%;
}

.top-slides-content-elements.has-active-child .top-slides-content-elements-logo-preview {
    display: none;
}

.top-slide-content-element {
    position: relative;
    display: inline-block;
    width: 25%;
    height: 100%;
    max-height: 800px;
    background-color: #0B8756;
    border-right: 1px solid #CECFD0;
    border-left: 1px solid #CECFD0;
    -webkit-transition: background .8s, width 1s;
    -o-transition: background .8s, width 1s;
    -moz-transition: background .8s, width 1s;
    transition: background .8s, width 1s;
}

.top-slide-content-element:last-child {
    background-color: #B9BBB9;
}

.top-slides-content-elements.has-active-child .top-slide-content-element:last-child {
    background-color: #9B9B9B;
}

@media screen and (min-width: 768px) {
    .top-slide-content-element:last-child .top-slide-content-element-preview-block .read-more-block {
        margin-top: 80px;
    }
}

.top-slide-content-element:last-child.active .top-slide-content-element-preview-block {
    position: relative;
}

.top-slide-content-element:last-child.active .tab-main-description-text {
    margin-left: 0;
    margin-right: 0;
    text-align: left;
}

.top-slide-content-element:last-child.active .main-content-inside {
    padding: 0 30px;
}

.top-slide-content-element .top-slide-content-element-preview-block {
    position: absolute;
    bottom: 321px;
    top: 302px;
    left: 0;
    width: 100%;
    padding: 0 25px;
    z-index: 3;
}

.top-slide-content-element-preview-block .read-more-block {
    display: block;
    margin-top: 60px;
}

.close-button .plus-icon,
.top-slide-content-element-preview-block .read-more-block .plus-icon,
.top-slides-content-elements.has-active-child .top-slide-content-element.active .top-slide-content-element-preview-block .content-block .close-button .plus-icon {
    position: relative;
    background-color: transparent;
    border: 2px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    -webkit-transition: background-color .3s;
    -o-transition: background-color .3s;
    -moz-transition: background-color .3s;
    transition: background-color .3s;
}

.top-slide-content-element-preview-block .read-more-block .plus-icon .icon-plus,
.close-button .plus-icon .icon-plus {
    position: absolute;
    top: 9px;
    left: 14px;
    vertical-align: middle;
    font-style: normal;
    color: #fff;
    margin: 0;
    display: inline-block;
    width: initial;
    font-size: 23px;
    -webkit-transition: color .3s;
    -o-transition: color .3s;
    -moz-transition: color .3s;
    transition: color .3s;
    font-family: 'munnrabot';
}

.close-button .plus-icon .icon-plus {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -moz-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    -o-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
    font-size: 18px;
    -webkit-transition: -webkit-transform 0s;
    transition: -webkit-transform 0s;
    -o-transition: -o-transform 0s;
    -moz-transition: transform 0s, -moz-transform 0s;
    transition: transform 0s;
    transition: transform 0s, -webkit-transform 0s, -moz-transform 0s, -o-transform 0s;
}

.top-slides-content-elements.has-active-child .top-slide-content-element.active .top-slide-content-element-preview-block .content-block .close-button .plus-icon {
    background-color: transparent;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.top-slide-content-element-preview-block .read-more-block .read-more-block-title {
    color: rgba(255, 255, 255, 1);
    -webkit-transition: opacity .6s;
    -o-transition: opacity .6s;
    -moz-transition: opacity .6s;
    transition: opacity .6s;
    margin-left: 9px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
    font-family: 'NeueHaasUnicaPro-Light';
    opacity: 0;
}

.top-slide-content-element:first-child {
    border-left: none;
}

.top-slide-content-element:last-child {
    border-right: none;
}

.top-slide-content-element:not(.active)::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .0);
    z-index: 2;
    -webkit-transition: .65s;
    -o-transition: .65s;
    -moz-transition: .65s;
    transition: .65s;
}

.top-slide-content-element.light-effect {
    position: relative;
}

@-webkit-keyframes LightEffect {

    0% {
        background-color: rgba(255, 255, 255, .0);
    }

    50% {
        background-color: rgba(255, 255, 255, .2);
    }

    100% {
        background-color: rgba(255, 255, 255, .0);
    }

}

@-moz-keyframes LightEffect {

    0% {
        background-color: rgba(255, 255, 255, .0);
    }

    50% {
        background-color: rgba(255, 255, 255, .2);
    }

    100% {
        background-color: rgba(255, 255, 255, .0);
    }

}

@-o-keyframes LightEffect {

    0% {
        background-color: rgba(255, 255, 255, .0);
    }

    50% {
        background-color: rgba(255, 255, 255, .2);
    }

    100% {
        background-color: rgba(255, 255, 255, .0);
    }

}

@keyframes LightEffect {

    0% {
        background-color: rgba(255, 255, 255, .0);
    }

    50% {
        background-color: rgba(255, 255, 255, .2);
    }

    100% {
        background-color: rgba(255, 255, 255, .0);
    }

}

.top-slides-content-elements.has-active-child .top-slide-content-element.light-effect:not(.active)::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -webkit-animation-name: LightEffect;
    -moz-animation-name: LightEffect;
    -o-animation-name: LightEffect;
    animation-name: LightEffect;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}

top-slides-content-elements.has-active-child .top-slide-content-element.active.light-effect::before {
    background-color: rgba(255, 255, 255, .0);
}

@media screen and (min-width: 768px) {

    .close-button .plus-icon::before,
    .top-slide-content-element-preview-block .read-more-block .plus-icon::before {
        position: absolute;
        content: '';
        top: -1px;
        left: -1px;
        right: 0;
        bottom: 0;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        background-color: #fff;
        height: 43px;
        width: 43px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -webkit-transition: .4s;
        -o-transition: .4s;
        -moz-transition: .4s;
        transition: .4s;
    }

    .close-button .plus-icon::before {
        height: 39px;
        width: 39px;
    }

    .close-button:hover .plus-icon::before {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

    .close-button:hover .plus-icon .icon-plus {
        color: #B9BBB9;
    }

    .top-slides-content-elements.has-active-child .top-slide-content-element {
        width: 5%;
        background-color: #B9BBB9;
    }

    .top-slides-content-elements.has-active-child .top-slide-content-element.active:last-child {
        background-color: #0B8756;
    }

    .top-slides-content-elements.has-active-child .top-slide-content-element.active {
        width: 85%;
        background-color: #B9BBB9;
    }

    .top-slides-content-elements.has-active-child .top-slide-content-element.last-element-active {
        background-color: #0B8756 !important;
    }

    .top-slides-content-elements.last-element-active .top-slide-content-element {
        background-color: #0B8756 !important;
    }

}

@media screen and (min-width: 768px) {
    .top-slides-content-elements.has-active-child.delay .top-slide-content-element .top-slide-content-element-preview-block .content-block .main-header {
        opacity: 1 !important;
    }

    .top-slides-content-elements.delay .top-slide-content-element .top-slide-content-element-preview-block .content-block .main-header,
    .top-slides-content-elements.delay .top-slide-content-element .top-slide-content-element-preview-block .content-block .description,
    .top-slides-content-elements.delay .top-slide-content-element .top-slide-content-element-preview-block .read-more-block {
        opacity: 0 !important;
    }
}

.top-slides-content-elements.delay .top-slide-content-element:not(.active) .top-slide-content-element-preview-block .content-block .year {
    opacity: 0 !important;
}

.top-slides-content-elements.has-active-child .top-slide-content-element.active .top-slide-content-element-preview-block .content-block .year {
    opacity: 0;
    -webkit-animation-name: FadeIn;
    -moz-animation-name: FadeIn;
    -o-animation-name: FadeIn;
    animation-name: FadeIn;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -o-animation-delay: .1s;
    animation-delay: .1s;
    -webkit-animation-duration: 3.2s;
    -moz-animation-duration: 3.2s;
    -o-animation-duration: 3.2s;
    animation-duration: 3.2s;
}

.top-slides-content-elements.has-active-child .top-slide-content-element.active .top-slide-content-element-preview-block .read-more-block {
    margin: 0;
    display: none;
}

@media screen and (min-width: 768px) {

    .top-slides-content-elements.has-active-child .top-slide-content-element:hover:not(.active)::before {
        background-color: #d4d4d4;
    }

    .top-slides-content-elements.has-active-child .top-slide-content-element:last-child:hover:not(.active)::before {
        background-color: rgba(47, 45, 45, 0.3);
    }

    .top-slide-content-element:hover:not(.active) {
        cursor: pointer;
    }

    .top-slide-content-element:hover:not(.active) .top-slide-content-element-preview-block .read-more-block .plus-icon::before {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

    .top-slide-content-element:hover:not(.active) .top-slide-content-element-preview-block .read-more-block .plus-icon .icon-plus {
        color: #165C40;
    }

    .top-slide-content-element:hover:not(.active) .top-slide-content-element-preview-block .read-more-block .read-more-block-title {
        -webkit-animation-name: FadeIn;
        -moz-animation-name: FadeIn;
        -o-animation-name: FadeIn;
        animation-name: FadeIn;
        -webkit-animation-duration: .4s;
        -moz-animation-duration: .4s;
        -o-animation-duration: .4s;
        animation-duration: .4s;
        -webkit-animation-delay: .3s;
        -moz-animation-delay: .3s;
        -o-animation-delay: .3s;
        animation-delay: .3s;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    .top-slide-content-element:hover:not(.active) .top-slide-content-element-preview-block .content-block .description {
        height: 100px;
        opacity: 1;
    }

    .top-slide-content-element:hover:not(.active) .top-slide-content-element-preview-block .content-block {
        margin-top: -100px;
    }

    .top-slides-content-elements.delay .top-slide-content-element:hover:not(.active) .top-slide-content-element-preview-block .content-block,
    .top-slide-content-element:last-child:hover:not(.active) .top-slide-content-element-preview-block .content-block {
        margin-top: 0 !important;
    }

    .top-slide-content-element:last-child:hover:not(.active) .top-slide-content-element-preview-block .read-more-block .plus-icon .icon-plus {
        color: #B9BBB9;
    }

    .top-slides-content-elements.delay .top-slide-content-element:hover:not(.active) .top-slide-content-element-preview-block .content-block .description {
        height: 0 !important;
    }

}

.top-slide-content-element-preview-block .content-block .main-header {
    display: block;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
    font-family: 'NeueHaasUnicaPro-Thin';
    font-size: 32px;
    font-weight: 100;
    line-height: 32px;
    word-wrap: break-word;
}

.top-slide-content-element-preview-block .content-block .year {
    display: block;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'NeueHaasUnicaPro-Regular';
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
}

.top-slide-content-element-preview-block .content-block .description {
    -webkit-transition: .4s, opacity .3s;
    -o-transition: .4s, opacity .3s;
    -moz-transition: .4s, opacity .3s;
    transition: .4s, opacity .3s;
    height: 0;
    opacity: 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #fff;
    margin-top: 19px;
    font-family: 'NeueHaasUnicaPro-Thin';
}

.top-slide-content-element-preview-block .content-block {
    -webkit-transition: .4s;
    -o-transition: .4s;
    -moz-transition: .4s;
    transition: .4s;
    overflow: hidden;
    padding-left: 10px;
    margin-left: -10px;
}

.top-slide-content-element .preview-header {
    display: none;
}

.top-slides-content-elements.has-active-child .top-slide-content-element:not(.active) .preview-header {
    position: relative;
    display: block;
    margin: 53px auto 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    z-index: 3;
}

.top-slides-content-elements.has-active-child .top-slide-content-element:not(.active) .preview-header .main-header {
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    font-family: 'NeueHaasUnicaPro-Regular';
    color: #fff;
    text-transform: uppercase;
}

.top-slides-content-elements.has-active-child .top-slide-content-element.active .top-slide-content-element-preview-block .content-block .description {
    display: none;
}

.top-slides-content-elements .top-slide-content-element .top-slide-content-element-preview-block .content-block .description-inside-link {
    display: none;
    margin-top: 30px;
    font-family: 'Times-Roman', Times;
  /*  font-family: 'Rasa', serif;
    font-weight: 300;
    letter-spacing: 0.5px;*/
    font-size: 20px;
    line-height: 26px;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

.description-inside-link-mobile {
    display: none;
}

.description-inside-link .brackets.front {
    position: absolute;
    left: -9px;
}

.top-slides-content-elements.has-active-child .top-slide-content-element.active .top-slide-content-element-preview-block .content-block .description-inside-link {
    display: block;
}

.top-slides-content-elements.has-active-child .top-slide-content-element:not(.active) .top-slide-content-element-preview-block,
.top-slides-content-elements .top-slide-content-element .top-slide-content-element-preview-block .content-block .close-button {
    display: none;
}

.top-slides-content-elements.has-active-child .top-slide-content-element.active .top-slide-content-element-preview-block .content-block .close-button {
    display: inline-block;
    margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
    .top-slides-content-elements.has-active-child .top-slide-content-element .top-slide-content-element-preview-block {
        opacity: 0;
        -webkit-animation-delay: .8s;
        -moz-animation-delay: .8s;
        -o-animation-delay: .8s;
        animation-delay: .8s;
        -webkit-animation-duration: .8s;
        -moz-animation-duration: .8s;
        -o-animation-duration: .8s;
        animation-duration: .8s;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    .top-slides-content-elements.has-active-child .top-slide-content-element.active .top-slide-content-element-preview-block {
        max-width: 228px;
        top: 30px;
        left: 30px;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        bottom: initial;
        padding: 0;
        -webkit-animation-name: FadeIn;
        -moz-animation-name: FadeIn;
        -o-animation-name: FadeIn;
        animation-name: FadeIn;
    }
}

.top-slides-content-elements.has-active-child .top-slide-content-element.active .top-slide-content-element-preview-block .content-block .main-header {
    font-size: 28px;
    line-height: 28px;
    opacity: 1 !important;
}

.top-slides-content-elements.has-active-child .top-slide-content-element.active .top-slide-content-element-preview-block .content-block .year {
    font-size: 22px;
    line-height: 22px;
}

.top-slides-content-elements .top-slide-content-element .main-content-inside {
    visibility: hidden;
    margin-top: 60px;
    opacity: 0;
    -webkit-transition: .6s;
    -o-transition: .6s;
    -moz-transition: .6s;
    transition: .6s;
    -webkit-animation-duration: .8s;
    -moz-animation-duration: .8s;
    -o-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-delay: .8s;
    -moz-animation-delay: .8s;
    -o-animation-delay: .8s;
    animation-delay: .8s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    /*font-family: 'NeueHaasUnicaPro-Thin';*/
}

.top-slides-content-elements.has-active-child .top-slide-content-element.active .main-content-inside {
    -webkit-animation-name: FadeIn;
    -moz-animation-name: FadeIn;
    -o-animation-name: FadeIn;
    animation-name: FadeIn;
}

.top-slides-content-elements .top-slide-content-element.active .main-content-inside {
    visibility: visible;
}

.slider-content-block .slider-pro {
    min-width: 356px;
}

.slider-pro {
    margin-left: 318px;
}

.tab-main-description-text {
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    margin-top: 30px;
}

.top-slides-content-elements.has-active-child .top-slide-content-element.active:last-child .close-button .plus-icon .icon-plus {
    -webkit-transition: .4s;
    -o-transition: .4s;
    -moz-transition: .4s;
    transition: .4s;
}

.top-slides-content-elements.has-active-child .top-slide-content-element.active:last-child .close-button .plus-icon:hover .icon-plus {
    color: #0B8756;
}

.result-tab-big {
    display: block;
}

.result-tab-mini {
    display: none;
}

.top-slide-content-element .read-more-block-mobile {
    display: none;
}

.link-to-bessemer-trust {
    width: 300px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #7C7D81;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    border: 1px solid #7C7D81;
    padding: 5.5px 10px;
    box-sizing: border-box;
    margin-top: 20px;
    transition: .4s;
}

.link-to-bessemer-trust:hover {
    border: 1px solid #7C7D81;
    background-color: #7C7D81;
    color: #FFFFFF;
}
